header {
    padding: 20px;
    margin: 0 auto;
}
.imageBack {
    background-color: #ffffff;
}
form {
    padding: 30px 40px;
    background-color: #fbfbff;
    border: 2px solid #791332;
    box-shadow: 10px 10px #ffd6da;
    width: 30%;
    margin: 30px auto;
}

label {
    font-size: 20px;
}
h1 {
    text-align: center;
    font-size: 35px;
}

input[type=text], input[type=number], textarea, select {
    width: 100%;
    font-size: 15px;
    padding: 12px 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ffd6da;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;

}
input[type=text]:focus, input[type=number]:focus, textarea:focus {
    border: 3px solid #791332;
}

input[type=submit] {
    width: 100%;
    background-color: #791332;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    font-size: 15px;
}

input[type=submit]:hover {
    background-color: #3a0717;
}

footer {
    background-color: #791332;
    font-size: 20px;
    padding: 30px;
    color: white;
}
a:link, a:visited {
    background-color: white;
    color: black;
    border: 2px solid #791332;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    background-color: #791332;
    color: white;
}
