<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="refresh" content="3; url = http://localhost:8085/films" />
  <title>Success</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>  .buttonload {    background-color: #791332;    border: 2px solid white;    color: white;    padding: 12px 24px;    font-size: 16px;  }  .fa {    margin-left: -12px;    margin-right: 8px;  }</style>
</head>
<body>
<h1>Film Successfully Added </h1>
<h3>Redirecting to Actor List page in <i>3 seconds</i></h3>
<button class="buttonload">    <i class="fa fa-circle-o-notch fa-spin"></i>Loading  </button>
</body>
</html>