<!DOCTYPE html>
<html>
<head>
    <title>Add Film</title>
    <link rel="stylesheet" href="../css/styleGroup2.css"/>
</head>
<body class="imageBack">
<header>
    <a href="default.asp" target="_blank">Home</a>
</header>
<form th:action="@{/films/add}" th:object="${newFilm}" method="post">
    <h1>Add Film</h1>
    <label for="title">Title: *</label><br>
    <input type="text" id="title" th:field="*{title}"><br>
    <label for="description">Description:</label><br>
    <textarea id="description" th:field="*{description}" ></textarea><br>
    <label for="language">Language: *</label><br>
    <select id="language" th:field="*{language}">
        <option value="English">English</option>
        <option value="French">French</option>
        <option value="German">German</option>
    </select><br>
    <label for="releaseYear">Release Year:</label><br>
    <input type="text" id="releaseYear" th:field="*{releaseYear}"><br>
    <label for="length">Length:</label><br>
    <input type="number" min="0" max="500" id="length" th:field="*{length}"><br>
    <label for="rating">Rating:</label><br>
    <select id="rating" th:field="*{rating}">
        <option value="PG">PG</option>
        <option value="PG-13">PG-13</option>
        <option value="G">G</option>
        <option value="NC-17">NC-17</option>
        <option value="R">R</option>
    </select><br>
<!--    <input type="text" id="rating" th:field="*{rating}" >-->
    <label for="rentalDuration">Rental Duration: *</label><br>
    <select id="rentalDuration" th:field="*{rentalDuration}">
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
    </select><br>
<!--    <input type="text" id="rentalDuration" th:field="*{rentalDuration}" >-->
    <label for="rentalRate">Rental Rate: *</label><br>
    <input type="text" id="rentalRate" th:field="*{rentalRate}"><br>
    <label for="replacementCost">Replacement Cost: *</label><br>
    <input type="text" id="replacementCost" th:field="*{replacementCost}"><br>
    <label for="specialFeatures">Special Features:</label><br>
<!--    <input type="text" id="specialFeatures" th:field="*{specialFeatures}" >-->
    <select id="specialFeatures" th:field="*{specialFeatures}">
        <option value="Behind the Scenes">Behind the Scenes</option>
        <option value="Trailers">Trailers</option>
        <option value="Commentaries">Commentaries</option>
    </select><br>
    <input type="submit" value="Save">
</form>
<footer>Group 2 Web Development Project</footer>
</body>
</html>