<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Actor Details</title>
    <link rel="stylesheet" href="../css/styling.css"/>
</head>
<body>
<ul>
    <li><a class=active href="http://localhost:8080/films">Films</a></li>
    <li style="float:right"><a href="http://localhost:8080/actors/createForm">Create new Film</a></li>

</ul>
<h1>Films Edit Form</h1>
<form th:action="@{/films/update}" th:object="${filmToEdit}" method="POST">
    <label for="title">Title</label>
    <input type="text" id="title" name="title" th:field="*{title}"/>
    <label for="description">description</label>
    <input type="text" id="description" name="description" th:field="*{description}"/>
    <label for="Language">Language</label>
    <input type="text" id="Language" name="Language" th:field="*{language}"/>
    <label for="releaseYear">Release Year</label>
    <input type="text" id="releaseYear" name="releaseYear" th:field="*{releaseYear}"/>
    <label for="rentalDuration">Rental Duration</label>
    <input type="text" id="rentalDuration" name="rentalDuration" th:field="*{rentalDuration}"/>
    <label for="length">Length</label>
    <input type="text" id="length" name="length" th:field="*{length}"/>
    <label for="replacementCost">Replacement Cost</label>
    <input type="text" id="replacementCost" name="replacementCost" th:field="*{replacementCost}"/>
    <label for="rating">Rating</label>
    <input type="text" id="rating" name="rating" th:field="*{rating}"/>
    <label for="rating">Rental Rate</label>
    <input type="text" id="rentalRate" name="rentalRate" th:field="*{rentalRate}"/>
    <label for="specialFeatures">Special Features</label>
    <input type="text" id="specialFeatures" name="specialFeatures" th:field="*{specialFeatures}"/>
    <input type = "hidden" id="id" name = "id" th:field="*{id}"/>
    <input type="submit" value="Submit Update"/>
</form>
</body>
</html>