<!DOCTYPE html>
<html>
<head>
    <title>Add Actor</title>
    <link rel="stylesheet" href="../css/styleGroup2.css"/>

</head>
<body>
<ul>
    <li><a  href="http://localhost:8080/rentals">Rental</a></li>
    <li><a class=active href="http://localhost:8080/films">Films</a></li>

</ul>
<h1>Add Rental</h1>
<form th:action="@{/rentals/add}" th:object="${rentalToCreate}" method="post">
    <label for="inventory">Inventory ID</label>
    <input type="text" id="inventory" th:field="*{inventory}">
    <label for="Customer">Customer</label>
    <input type="text" id="Customer" th:field="*{customer}">
    <label for="Staff">Staff</label>
    <input type="text" id="Staff" th:field="*{staff}">
    <label for="rentalDate">Rental Date</label>
    <input type="text" id="rentalDate"  th:field="*{rentalDate}">
    <label for="returnDate">Return Date</label>
    <input type="text" id="returnDate" th:field="*{returnDate}">


    <input type="submit" value="Save">
</form>
</body>
</html>