<!DOCTYPE html>
<html>
<head>
    <title>Add Rental</title>
    <link rel="stylesheet" href="../css/styleGroup2.css"/>

</head>
<body>
<ul>
    <li><a  href="http://localhost:8080/rentals">Rental</a></li>
    <li><a class=active href="http://localhost:8080/films">Films</a></li>

</ul>
<form action="/rentals/createSuccess" method="post">
    <h1>Add Rental</h1>
    <label for="Inventory">Inventory ID</label>
    <input type="text" id="Inventory" name="inventory"><br><br>
    <label for="Customer">Customer</label>
    <input type="text" id="Customer" name="customer"><br><br>
    <label for="Staff">Staff</label>
    <input type="text" id="Staff" name="staff"><br><br>

    <input type="submit" value="Save">
</form>

</body>
</html>